html {
	font-size: 10px;
}

body {
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

.header {
	height: 8rem;
	background-color: #023975;
	display: flex;
	margin: auto;
}

.header__title {
	font-size: 2.4rem;
	font-weight: normal;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	margin: auto;
}

.main {
	display: flex;
	flex-flow: column;
	height: initial;
}

.aside {
	order: 0;
	width: auto;
	flex-basis: 5rem;
	flex-grow: 0;
	flex-shrink: 0;
	background-color: rgb(0, 165, 200);
}

.contacts {
	order: 0;
	width: auto;
	flex: 1;
}

.contacts__header {
	font-weight: normal;
	font-size: 2.4rem;
	padding-top: 2.6rem;
	margin-bottom: 0;
	color: rgb(0, 0, 0);
	text-align: center;
}

.contacts__text {
	text-align: center;
	padding: 0.6rem 1rem 0.55rem;
	font-size: 1.4rem;
	color: rgb(0, 0, 0);
	line-height: 1.9;
	letter-spacing: 0.31px;
}

br {
	display: none;
}

.nav {
	margin-top: 2.51rem;
	padding: 4.5rem 1.1rem 0;
	order: 0;
	width: auto;
	flex-basis: 26rem;
	flex-grow: 0;
	flex-shrink: 0;
	background: #00a5c8;
}

.nav__menu-title {
	color: rgb(255, 255, 255);
	font-size: 1.8rem;
	margin: 0;
}

.menu {
	padding: 0.5rem 3.2rem 1.8rem;
	margin-top: 0;
	color: rgb(255, 255, 255);
	font-size: 1.8rem;
	line-height: 1.4;
}

.menu__link {
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 1.8rem;
}

.nav__phone {
	color: rgb(255, 255, 255);
	font-size: 1.8rem;
	text-decoration: none;
}

.nav__vk {
	color: rgb(255, 255, 255);
	font-size: 1.8rem;
	margin-top: 0.56rem;
}

.nav__link {
	color: rgb(255, 255, 255);
}

.menu__link:hover, .nav__link:hover {
	color: #aa4c54;
}

.footer {
	height: 10.5rem;
	background-color: #023975;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.footer__copyright, .footer_madeBy {
	color: rgb(255, 255, 255);
	font-size: 1.6rem;
}

.footer__copyright {
	margin-top: 3.9rem;
}

.footer_madeBy {
	margin-top: 0;
}

@media all and (min-width: 768px) {

	.header {
		height: 21vh;
	}

	.header__title {
		font-size: 4.8rem;
	}

	.main {
		flex-flow: row;
		min-height: 85vh;

	}

	.aside {
		order: 3;
		flex-basis: 25vw;
	}

	.contacts {
		order: 2;
		flex-basis: 50vw;
	}

	.contacts__header {
		font-size: 3.6rem;
		padding-top: 40px;
	}

	.contacts__text {
		font-size: 1.8rem;
		padding: 3rem 2.8rem 0 2.6rem;
		letter-spacing: 0;
		line-height: 1.46;
		text-align: left;
		margin: 0;
	}

	br {
		display: inline;
	}

	.nav {
		order: 1;
		flex-basis: 25vw;
		padding: 0;
		margin: 0;
	}

	.nav__menu-title {
		padding: 7.1rem 5.4rem 0;
	}

	.menu {
		padding: 0.4rem 8.3rem;

	}

	.nav__phone {
		padding: 5.3rem;
	}

	.nav__vk {
		padding: 1.5rem 5.3rem;
		letter-spacing: 0;
	}

	.footer {
		flex-direction: row;
		height: 20rem;
		justify-content: space-between;
		align-items: flex-end;
	}

	.footer__copyright, .footer_madeBy {
		padding: 3.9rem 5rem 2.7rem;
	}
}